/*CSS for the main page*/
.head{
    margin-top: 0px;
    font-size: 18px;
}
body{
    margin: 0px;
    padding: 0%;
    margin-top: 0%;
    background-color: rgb(245, 245, 245);
}
nav{
    margin-top: 0px;
}

nav h1{
    line-height: 120px;
    background-color: rgb(248, 248, 248);
    font-family: monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}
nav li{
    display: inline-flex;
    float: right;
    color: black;
    font-family: monospace;
    font-weight: bold;
    padding-right: 30px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 14px;
}
#logo{
    display: inline-flex;
    float: left;
    height: 80px;
    width: 15%;
    padding-top: 30px;
    padding-left: 20px;
    margin-top: 0px;
}
li a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
li a:hover{
    border: solid 1px black;
    border-radius: 15px;
    color:black;
}
li a:active{
    border: solid 1px lightblue;
}
.checkbtn{
    font-size: 30px;
    color:black;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*Heading Animation*/
.head
{
    margin-left: 8px;
    font-family: cursive;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #e46db8 0%,
    #f18f57 29%,
    #605d5e 67%,
    #857fea 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 20% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
      font-size: 30px;
}
.about .box1 #readMore{
    justify-content: left;
    align-items: left;

    text-decoration: none;
    list-style: none;
    color: ;
    background-color: blue;
    padding: 5px;
}
#list{
    font-size: 18px;
    color: black;
}


@media (max-width: 853px){
    #logo{
        height: 80px;
        width: 25%;
    }
    .head{
        font-size: 12px;
    }
    nav ul li a{
        font-size: 14px;
    }
    #gallary{
        flex-grow: 1;
        height: 100px;
        min-width:50px;
        margin-top: 5px;
        /*Text style*/
        text-align: center;
        font-family:cursive;
    
      }
    #copyright{
        font-size: 8px;
    }
    #list{
        font-size: 12px;
    }

}
@media (max-width: 952px){
    .checkbtn{
        display: block;
    }
    li{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255, 254, 254);
        top: 105px;
        left: -120%;
        text-align: right;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin-top: 15px;
        line-height: 30px;
    }
    nav li a{
        font-size: 18px;
    }
    #check:checked ~ li{
        left: 0;
    }
    .checkbtn:checked ~ i{
        left: -120%;
    }
    
    
}
.wrapper{
    background: url('images/online-learning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin-top: 0px;
    padding-top: 0px;
}
.content h1{
    margin-left: 50px;
    margin-top: 0px;
    font-size: 4.5em;
    font-weight: lighter;
    font-family: fantasy;
    color:rgb(7, 77, 98);
    
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color: rgb(43, 44, 44);
}
.content h3{
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    font-size: 3.5em;
    font-weight: lighter;
    font-family: fantasy;
    color:rgb(255, 255, 255);
}
.content li{
    text-align: center;
    list-style: none;
}
.content li a{
    text-decoration: none;
    padding: 8px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #9bb1d9;
    border-radius: 20px;
}
p{
    /*For the footer*/
    font-family: monospace;
    color: white;
    font-size: 18px;
}
p a{
    /*Footer links*/
    text-decoration: none;
    color: white;
}

.about > div{
    /*background-color: rgb(238, 228, 88);
    */
    
}
/*.about{
    display: flex;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    padding-left: 50px;
    padding-right: 50px;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}*/
.about{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-left: 20px;
    padding-right: 20px;
}
.box1{
    flex-grow: 1;
    min-height: 300px;
    min-width:100px;
    border-radius: 12px;
    /*Text style*/
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ourservice{
    margin-left: 75px;
}
#row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
#row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 20px;
}
#col{
    flex-grow: 1;
    height: 100px;
    min-width:100px;
}
#service{
    flex-grow: 1;
    height: 280px;
    min-width:50px;
    width:80px;
    background-color: rgb(240, 157, 101);
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 35px;
    /*Text style*/
    text-align: center;
    font-family:cursive;
    /*zoom Animation*/
    transition: transform .2s;

}
#service:hover{
    transform: scale(1.1);
}
#sec{
    flex-grow: 1;
    min-height: 250px;
    min-width: 45px;
    width: 100px;
    margin-left: 75px;
    margin-right: 75px;
}
#footer{
    background-color: rgb(84, 84, 84);
}
#copyright{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: monospace;

}




/*Animationa starts here for the Index Page*/
/*Animation for Welcome Text */



@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #9dc4f0, 
            0 0 0 #696464, 
            0 0 0 #696464, 
            0 0 0 #9dc4f0;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #9dc4f0, 
            0 0.25em 0 #696464, 
            0 -0.125em 0 #696464, 
            0 -0.25em 0 #9dc4f0;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #9dc4f0, 
            0 -0.125em 0 #696464, 
            0 0.0625em 0 #696464, 
            0 0.125em 0 #9dc4f0;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #9dc4f0, 
            0 0.0625em 0 #696464, 
            0 -0.03125em 0 #696464, 
            0 -0.0625em 0 #9dc4f0;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #9dc4f0, 
            0 0 0 #696464, 
            0 0 0 #696464, 
            0 0 0 #9dc4f0;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}


/*Animations for service section*/

#service{
	background-color:rgb(176, 174, 106);
	animation-name: example;
	animation-duration: 10s;
	
  }
  
  @keyframes example {
	from {background-color: rgb(115, 151, 151);}
	to {background-color:rgb(207, 205, 140);}
  }


  /*Gallary styling starts here*/

  #gallary{
    flex-grow: 1;
    height: 200px;
    
    min-width:100px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*Text style*/
    text-align: center;
    font-family:cursive;
    
  }
  